<h1><%= @board.name %></h1>

<% @board.lists.each do |list| %>
    <li><%= link_to list.name, [@board, list] %>
    
    </li>
<% end %>

<%= link_to "Add List", new_board_list_path(@board) %>

<%= link_to "View Lists", board_list_path(@board) %>

<%= link_to "Edit", edit_board_path(@board) %>

<%= link_to "Delete", @board, method: :delete %>
<br />
<%= link_to 'Back', boards_path %>